// 只能写es5

// 用来返回一个歌单的跳转url
function dePlayingUrl(sheet) {
  if (sheet.picUrl != ''){
    sheet.picUrl1 = sheet.picUrl.slice(0,24);
    sheet.picUrl2 = sheet.picUrl.slice(24,47);
    sheet.picUrl3 = sheet.picUrl.slice(49, 60);
    sheet.picUrl4 = sheet.picUrl.slice(60);
  }else{
    sheet.picUrl = '';
  }
  if (sheet.artistName){
    sheet.singer = sheet.artistName
  }else{
    sheet.singer = sheet.ar[0].name
  }
  return "/pages/play-page/playing?name=" + sheet.name + "&picUrl1=" + sheet.picUrl1 + "&picUrl2=" + sheet.picUrl2 + "&picUrl3=" + sheet.picUrl3 + "&picUrl4=" + sheet.picUrl4 + "&singer=" + sheet.singer;
}

module.exports = {
  dePlayingUrl: dePlayingUrl
}